.video-list{
  li{
    padding:10px;position:relative;background-color:#fff;
    border-bottom:1px solid #f2f2f2;
    .flex{
      padding:0 10px;
      .title{
        font-size:15px;color:#424242;margin-bottom:10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height:150%;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-word;
      }
      .sign-list{
        position:absolute;left:180px;bottom:15px;
        font-size:13px;color:#a0a1a3;
      }
    }
  }
}
.videoBox{
  position:relative;
  width:160px;height:110px;border-radius:5px;
  overflow:hidden;
  img{
    width:100%;
  }
  .iconbox{
    display: inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    i{
      font-size:18px;
      color: #fff;
    }
  }
}
